<div class="row">
  <div class="col-md-4">
    <h2>1.- Seleccione un Curso</h2>
    <%= render 'dropdown_cursos' %>
  </div>
  <div class="col-md-4" id="lista_asig" hidden>
    <h2>2.- Seleccione una Asignatura</h2>
    <table class="table table-striped">
      <tbody  id="sin_asignar">
      </tbody>
    </table>
  </div>
  <div class="col-md-4" id="lista_profes" hidden>
    <h2>3.- Seleccione un Profesor</h2>
    <table class="table table-striped">
      <tbody  id="profe_sin_asignar">
      </tbody>
    </table>
  </div>
</div>
