<div class="row">
  <div class="col-md-2">
    <h2>1.- Seleccione un Curso</h2>
    <%= render 'dropdown_cursos' %>
  </div>
  <div class="col-md-4" id="lista_asig" hidden>
    <h2>
      <i class="glyphicon glyphicon-menu-right" style="float: left"></i>
      2.- Seleccione una Asignatura
    </h2>
    <table class="table table-striped">
      <tbody  id="sin_asignar">
      </tbody>
    </table>
  </div>
  <div class="col-md-4" id="lista_profes" hidden>
    <h2>
      <i class="glyphicon glyphicon-menu-right" style="float: left"></i>
      3.- Seleccione un Profesor
      <i class="glyphicon glyphicon-menu-right" style="float: right"></i>
    </h2>
    <table class="table table-striped">
      <tbody  id="profe_sin_asignar">
      </tbody>
    </table>
  </div>
  <div class="col-md-2" style="text-align: center" id="input_horas" hidden>
      <h2>
        4.- Seleccione las Horas
      </h2>
      <select class="form-control" id="selec_horas">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
  </div>
</div>
<br>
<div class="row">

</div>
