<tr id="<%= curso.name %>">
  <td>
    <span><%= curso.name %></span>
  </td>
  <td style="text-align: right">
    <%= link_to "X", curso, method: :delete, id: curso.id, data: { confirm: "borrar?", remote: true } %>
  </td>
</tr>
