<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container" id="header">
    <%= link_to root_path, class: "logo" do %>
      <i class="glyphicon glyphicon-book" id="icon_logo"></i>
      CARGA HORARIA
    <% end %>
    <%= link_to "Agregar Datos", datos_path , class: "logo"%>
    <%= link_to "Informe", informe_path(format: "pdf") , class: "logo"%>
  </div>
</header>
